// Hello Compass.
@import "compass"

// Default variables
$zocial-font-size: 1.8em !default
$zocial-font-weight: bold !default
$zocial-icon-font: zocial !default
$zocial-icon-default: "\0020" !default
$zocial-text-font: helvetica !default

// Zocial is magic!
@import "partials/fonts"
@import "partials/base"
@import "partials/adjustments"
@import "partials/colors"
@import "partials/mixins"