- @title = "View helpers for Zocial Buttons"

%h1= @title



%h2 Link helper

= zocial_link_to "Sign in with Twitter", "#", :class => "twitter"
%pre
  %code
    :plain
      = zocial_link_to "Sign in with Twitter", "#", :class => "twitter"


