- @title = "Zocial Buttons"

%h1= @title

%ul.z-buttons
  %button.zocial.twitter
    %span Sign in with Twitter
  %a(href="#" class="zocial twitter")
    %span Sign in with Twitter
  %button.zocial.facebook
    %span Sign in with Facebook
  %a(href="#" class="zocial facebook")
    %span Sign in with Facebook
  %button.zocial.googleplus
    %span Sign in with Google+
  %a(href="#" class="zocial googleplus")
    %span Sign in with Google+
  %button.zocial.github
    %span Fork me on Github
  %a(href="#" class="zocial github")
    %span Fork me on Github
  %button.zocial.rss
    %span Subscribe to RSS
  %a(href="#" class="zocial rss")
    %span Subscribe to RSS
  %button.zocial.smashingmag
    %span Read this on Smashing Magazine
  %a(href="#" class="zocial smashingmag")
    %span Read this on Smashing Magazine
.z-icons
  %button.zocial.icon.twitter
    %span Sign in with Twitter
  %a(href="#" class="zocial icon twitter")
    %span Sign in with Twitter
  %button.zocial.icon.facebook
    %span Sign in with Facebook
  %a(href="#" class="zocial icon facebook")
    %span Sign in with Facebook
  %button.zocial.icon.googleplus
    %span Sign in with Google+
  %a(href="#" class="zocial icon googleplus")
    %span Sign in with Google+
  %button.zocial.icon.github
    %span Fork me on Github
  %a(href="#" class="zocial icon github")
    %span Fork me on Github
  %button.zocial.icon.rss
    %span Subscribe to RSS
  %a(href="#" class="zocial icon rss")
    %span Subscribe to RSS
  %button.zocial.icon.smashingmag
    %span Read this on Smashing Magazine
  %a(href="#" class="zocial icon smashingmag")
    %span Read this on Smashing Magazine