- @title = "Zocial: CSS3 Buttons, Sass Framework."

%h1= @title

.buttons
  .z-buttons
    %button.zocial.twitter
      %span Sign in with Twitter
    %a(href="#" class="zocial twitter")
      %span Sign in with Twitter
    %button.zocial.facebook
      %span Sign in with Facebook
    %a(href="#" class="zocial facebook")
      %span Sign in with Facebook
    %button.zocial.googleplus
      %span Sign in with Google+
    %a(href="#" class="zocial googleplus")
      %span Sign in with Google+
    %button.zocial.github
      %span Fork me on Github
    %a(href="#" class="zocial github")
      %span Fork me on Github
    %button.zocial.rss
      %span Subscribe to RSS
    %a(href="#" class="zocial rss")
      %span Subscribe to RSS
    %button.zocial.smashingmag
      %span Read this on Smashing Magazine
    %a(href="#" class="zocial smashingmag")
      %span Read this on Smashing Magazine
    -# Colors
    %a(href="#" class="zocial white")
      %span Sign in with White
    %a(href="#" class="zocial black")
      %span Sign in with Black
    %a(href="#" class="zocial red")
      %span Sign in with Red
    %a(href="#" class="zocial green")
      %span Sign in with Green
    %a(href="#" class="zocial blue")
      %span Sign in with Blue

  .z-icons
    %button.zocial.icon.twitter
      %span Sign in with Twitter
    %a(href="#" class="zocial icon twitter")
      %span Sign in with Twitter
    %button.zocial.icon.facebook
      %span Sign in with Facebook
    %a(href="#" class="zocial icon facebook")
      %span Sign in with Facebook
    %button.zocial.icon.googleplus
      %span Sign in with Google+
    %a(href="#" class="zocial icon googleplus")
      %span Sign in with Google+
    %button.zocial.icon.github
      %span Fork me on Github
    %a(href="#" class="zocial icon github")
      %span Fork me on Github
    %button.zocial.icon.rss
      %span Subscribe to RSS
    %a(href="#" class="zocial icon rss")
      %span Subscribe to RSS
    %button.zocial.icon.smashingmag
      %span Read this on Smashing Magazine
    %a(href="#" class="zocial icon smashingmag")
      %span Read this on Smashing Magazine
    -# Colors
    %a(href="#" class="zocial icon white")
      %span Sign in with White
    %a(href="#" class="zocial icon black")
      %span Sign in with Black
    %a(href="#" class="zocial icon red")
      %span Sign in with Red
    %a(href="#" class="zocial icon green")
      %span Sign in with Green
    %a(href="#" class="zocial icon blue")
      %span Sign in with Blue

%h2
  %a(href="https://github.com/adamstac/zocial") Fork Me. I'm Open Sourced on Github.
  %span ~ Follow &rarr;
  %a(href="http://twitter.com/smcllns") @smcllns
  %span and
  %a(href="http://twitter.com/adamstac") @adamstac
