!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "/stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
  %body
    .container
      = yield