// Compass
@import compass

// CSS Reset
@import compass/reset

// Zocial
@import "../../stylesheets/zocial"
+zocial

body
  background: #fcfcfc
  color: #353535
  font: 10px/16px "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif

.container
  +pie-clearfix
  margin: 50px auto
  text-align: center
  width: 720px

h1
  font-size: 4em
  font-weight: normal
  margin-bottom: 50px

.z-buttons
  margin-bottom: 40px

.z-buttons, .z-icons
  a, button
    margin-bottom: 15px
  button
    display: none